<div class="mt-1 relative">
  <button
    type="button"
    class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-green-700 focus:border-green-700 sm:text-sm"
    aria-haspopup="listbox"
    aria-expanded="true"
    aria-labelledby="listbox-label"
  >
    <span class="flex items-center" *ngIf="currentCurrency">
      <img
        src="{{
          currentCurrency === currenciesCodeEnum.US_DOLLAR
            ? 'assets/usa.svg'
            : 'assets/euro.svg'
        }}"
        alt=""
        class="flex-shrink-0 h-6 w-6"
      />
      <span class="ml-3 block truncate">
        {{ currentCurrency }} -
        <span class="text-gray-500">{{
          currentCurrency === currenciesCodeEnum.US_DOLLAR
            ? currenciesLabelEnum.US_DOLLAR
            : currenciesLabelEnum.EURO
        }}</span></span
      >
    </span>
  </button>
</div>
